@use '../../abstract/var';


button{
    background-color: var.$cyan-500;
    color: var.$white;

    border: none;
    padding: .75rem 2rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    
}

button:hover{
    background-color: var.$teal-200;
}