@use '../../abstract/var';

.commentSection{
    background-color: var.$navy-900;
    padding: 5rem 0;
    
    .commentSection__cards{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        
    }

    
}

@media(max-width:1200px){
    .commentSection{

        padding: 3rem 0;

        .commentSection__cards{
            flex-direction:column;
        }
    }
}