@use '../../abstract/var';

.header{
    background-color: var.$navy-850;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo{
        width: 100px;
    }

}

@media(max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
}