@use '../../abstract/var';



.footer{
    position: relative;
    background-color: var.$navy-950;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 12rem 5rem 6rem 5rem;


    .footer__present{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 300px;

        img{
            width: 150px;
        }

        p{
            color: var.$white;
            opacity: 0.7;
        }

        .present__text{
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            p{
                margin: 0;
            }

            img{
                width: 20px;
            }
        }
    }

    .footer__contact1{
        span{
            display: flex;
            align-items: center;
            gap: 1rem;

           
        }
    }

    .footer__contact2, 
    .footer__contact3{
    
        display:flex;
        flex-direction:column;
        gap: .8rem;
    }

    .footer__contact1, 
    .footer__contact2,
    .footer__contact3{
        
        color: var.$white;
        opacity: 0.7;

        a:hover{
            opacity: 1;
        }

    }

    

    .footer__social{
       display: flex;
       align-items: center;
       gap: .5rem;

       
       img{
            filter: brightness(0) invert(1);
            width: 25px;
        }

        img:hover{
            cursor: pointer;
            filter: invert(83%) sepia(22%) saturate(676%) hue-rotate(118deg) brightness(97%) contrast(96%);
        }
    }
}


@media(max-width:1200px){
    .footer{
        padding: 5rem 2rem;
        padding-top: 15rem;
        flex-direction: column;
       align-items: flex-start;

       .footer__present{
            width: 350px;
            margin-bottom: 2rem;
       }

       .footer__contact1,
       .footer__contact2,
       .footer__contact3,
         .footer__social
       {
            margin-bottom: 2rem;
       }
    }
}